@(itemForm: Form[models.BookmarkForm], bookmarks: List[models.Bookmark])
@implicitFieldConstructor = @{ helper.FieldConstructor(bookmarkInput.render) }
@import helper.form
@import helper.inputText
@import helper.textarea

@main("WRL: Will Read Later") {
	<div class="col-md-3">
    	<div class="panel panel-default">
        	<div class="panel-heading">
  			</div>
        	<div class="panel-body">
        		@form(action = routes.Application.addBookmark(), 'class -> "") {
            	@inputText(itemForm("url"), '_label -> "URL", 'class -> "form-control")
            	@textarea(itemForm("desc"), 'rows -> 6, '_label -> "Description", 'class -> "form-control desc-form")
            	<br><br>
               	<input type="submit" class="btn btn-primary submit-button" value="Add Bookmark"/>
        		}
        	</div>
       	</div>
	</div>
	
	<div class="col-md-9">
    	<div class="panel panel-default">
        	<div class="panel-heading"></div>
        	<table class="table">
            	<thead class="thead-inverse">
                <tr>
                    <th class="col-md-3"><b>Created</b></th>
                    <th class="col-md-4"><b>URL</b></th>
                    <th class="col-md-4"><b>Description</b></th>
                    <th class="col-md-1"><b>Actions</b></th>
                </tr>
            </thead>
            @if(!bookmarks.isEmpty()) {
            	<tbody>
                @for(bookmark<- bookmarks){ 
                	<tr align="left">
                    	<td>@bookmark.getCreated()</td>
                    	<td><a href="@bookmark.getUrl()" target="_blank">@bookmark.getUrl()</a> 
                    		@if(bookmark.getCompleted()) {
                        		<span class="label label-danger">Read</span> 
                        	} else {
                        		<span class="label label-success">Read Later</span> 
                        	}
                    	</td>
                    	<td>@bookmark.getDesc()</td>
                    	<td>
                        	<button type="button" class="close" data-toggle="tooltip" data-placement="top" title="Delete the content">
                            	<a href="@routes.Application.removeBookmark(bookmark.getId())">
                               		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </button>
                            @if(bookmark.getCompleted()) {
                            	<button type="button" class="close" aria-label="Close" data-toggle="tooltip" data-placement="top" title= "Mark as Unread">
                            } else {
                            	<button type="button" class="close" aria-label="Close" data-toggle="tooltip" data-placement="top" title="Mark as Read Later">
                            }
                              		<a class="name" href="@routes.Application.toggleBookmarkComplete(bookmark.getId())">
                              			<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
			                    	</a>
			                    </button>
                    	</td>
                    </tr>
                }
            	</tbody>
        	</table>
        } else {
        	</table>
        	<p>
            	<h1 class="text-center">No Entries yet!</h1>
            </p>
        }
    </div>
</div>
}
